
<div>
    <label>Summary: </label>
    <select>
     <option *ngFor="let citye of city" value={{citye}}>
        {{citye}}
      </option>
    </select>
  </div>


<div class="row">
  <div class="col-3" style="height:auto;">
firt cell
  </div>

  <div class="col-9">
  <div class="row">
  <div class="bd col-6">col-sm-4</div>
  <div class="col-6">col-sm-4</div>
  </div>
  <div class="row">
      <div class="col-6">col-sm-4</div>
      <div class="col-6">col-sm-4</div>
      </div>
      <div class="row">
          <div class="col-6">col-sm-4</div>
          <div class="col-6">col-sm-4</div>
          </div>
</div>
</div>

